.floatlabel-wrapper {
    position: relative;
    display: inline-block;
}

.floatlabel-wrapper .floatlabel-label {
    position: absolute;
    left: 8px;
    font-size: 11px;
    color: #2996cc;
    z-index: 9999;

    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}

.floatlabel-wrapper .floatlabel-label.floatlabel-label-focus {
    color: #838780;
}

.floatlabel-wrapper .floatlabel-label-inactive {
    display: none;
    top: 0;

    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

.floatlabel-wrapper .floatlabel-label-active {
    display: inline-block;
    top: 6px;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}

.floatlabel-wrapper input.floatlabel-input {
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}

.floatlabel-wrapper input.floatlabel-input-slide {
    padding-top: 20px !important;
}